<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple 댓글 서비스</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <style>
        body { font-family: "Noto Sans KR", sans-serif; }
    </style>
</head>
<body>
<div class="my-5 mx-5">
    <h1 class="mb-5">댓글 등록</h1>
    <form method="post" action="/comment">
        <div class="input-group mb-3">
            <input type="text" name="author" class="form-control me-1" placeholder="작성자명" style="max-width: 200px;" required>
            <input type="text" name="comment" class="form-control" placeholder="댓글 내용을 입력해주세요." required>
            <button class="btn btn-outline-secondary" type="submit">등록</button>
        </div>
    </form>
</div>
<div class="my-5 mx-5">
    <h1 class="mb-5">댓글 목록</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="min-width: 80px;">번호</th>
            <th scope="col" style="min-width: 100px;">작성자</th>
            <th scope="col" style="min-width: 500px;">내용</th>
            <th scope="col" style="max-width: 160px;">일시</th>
            <th scope="col" style="max-width: 50px;">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cmt: ${commentList}">
            <td th:text="${cmt.no}">no</td>
            <td th:text="${cmt.author}">author</td>
            <td th:text="${cmt.comment}">comment</td>
            <td th:text="${#temporals.format(cmt.date, 'yyyy-MM-dd HH:mm')}">date</td>
            <td>
                <button type="button" class="btn btn-outline-dark btn-sm" th:onclick="deleteComment([[${cmt.no}]])">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function deleteComment(no) {
        if (confirm('삭제하시겠습니까?')) {
            fetch('/api/comment/' + no, { method: 'DELETE' })
            .then(() => location.reload());
        }
    }
</script>
</body>
</html>