
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Simple 댓글 서비스</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">홈</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/users/join">회원가입</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/users/login">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/users/logout">로그아웃</a>
                </li>
            </ul>
            <span sec:authorize="isAuthenticated()" class="navbar-text">
                <span th:text="${userName}"></span>
                환영합니다.
            </span>
            <span sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-text">
                <span class="badge bg-danger ms-1">관리자</span>
            </span>
            <span sec:authorize="hasRole('ROLE_USER')" class="navbar-text">
              <span class="badge bg-secondary ms-1">회원</span>
            </span>
        </div>
    </div>
</nav>